<!DOCTYPE html>
<html>

<head>
    <!-- Aqui incluiríamos também as infomrações de CSS e JavaScript, SEO...
        e nos outros htmls também conforme necessário. -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>

<body>
    <!-- Simples listagem dos módulos. -->
    <table>
        <h1>Project Manager</h1>
        <ul>
            <li>
                <a href='http://127.0.0.1:5000/projects'>Projects</a>
            </li>
            <li>
                <a href='http://127.0.0.1:5000/users'>Users</a>
            </li>
            <li>
                <a href='http://127.0.0.1:5000/costcenters'>Cost Centers</a>
            </li>
            <li>
                <a href='http://127.0.0.1:5000/projects/users'>Projects_Users</a>
            </li>
        </ul>
    </table>


</body>

</html>